<section class="section">
    <div class="works">

        <div class="works__inner">
            <h1 class="works__title">Works</h1>
        </div>

        <div class="container">

            <div class="works__grid">
                <figure class="work__item work__item--1">
                    <img src="../../../img/HeadSculpt.jpg" alt="" class="img__item">
                </figure>

                <figure class="work__item work__item--2">
                    <img src="../../../img/CG-digital-art-drawing-1512439.jpg" alt="" class="img__item">
                </figure>

                <figure class="work__item work__item--3">
                    <img src="../../../img/HeadSculpt.jpg" alt="" class="img__item">
                </figure>

                <figure class="work__item work__item--4">
                    <img src="../../../img/HeadSculpt.jpg" alt="" class="img__item">
                </figure>

                <figure class="work__item work__item--5">
                    <img src="../../../img/HeadSculpt.jpg" alt="" class="img__item">
                </figure>

                <figure class="work__item work__item--6">
                    <img src="../../../img/HeadSculpt.jpg" alt="" class="img__item">
                </figure>

                <figure class="work__item work__item--7">
                    <img src="../../../img/HeadSculpt.jpg" alt="" class="img__item">
                </figure>

                <figure class="work__item work__item--8">
                    <img src="../../../img/HeadSculpt.jpg" alt="" class="img__item">
                </figure>

                <figure class="work__item work__item--9">
                    <img src="../../../img/HeadSculpt.jpg" alt="" class="img__item">
                </figure>

                <figure class="work__item work__item--10">
                    <img src="../../../img/HeadSculpt.jpg" alt="" class="img__item">
                </figure>

                <figure class="work__item work__item--11">
                    <img src="../../../img/HeadSculpt.jpg" alt="" class="img__item">
                </figure>

                <figure class="work__item work__item--12">
                    <img src="../../../img/HeadSculpt.jpg" alt="" class="img__item">
                </figure>

                <figure class="work__item work__item--13">
                    <img src="../../../img/HeadSculpt.jpg" alt="" class="img__item">
                </figure>

                <figure class="work__item work__item--14">
                    <img src="../../../img/HeadSculpt.jpg" alt="" class="img__item">
                </figure>

                <figure class="work__item work__item--15">
                    <img src="../../../img/HeadSculpt.jpg" alt="" class="img__item">
                </figure>

                <figure class="work__item work__item--16">
                    <img src="../../../img/HeadSculpt.jpg" alt="" class="img__item">
                </figure>
            </div> <!-- /.works_grid-->

        </div> <!-- /.container -->
    </div> <!-- /.works -->
</section>

