.works {
    background-color: #000;
}

.works__inner {
    display: flex;
    justify-content: center;

    color: #fff;
}

.works__title {
    font-size: 100px;
}

.container {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
}

.works__grid {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(14, 5vw);
    grid-gap: 15px;
}

.work__item {
    overflow: hidden;
}

.work__item--1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 4;
}

.work__item--2 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 8;
}

.work__item--3 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 8;
    grid-row-end: 11;
}

.work__item--4 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 11;
    grid-row-end: 15;
}

.work__item--5 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 5;
}

.work__item--6 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 5;
    grid-row-end: 8;
}

.work__item--7 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 8;
    grid-row-end: 12;
}

.work__item--8 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 12;
    grid-row-end: 15;
}

.work__item--9 {
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 4;
}

.work__item--10 {
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 4;
    grid-row-end: 8;
}

.work__item--11 {
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 8;
    grid-row-end: 11;
}

.work__item--12 {
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 11;
    grid-row-end: 15;
}

.work__item--13 {
    grid-column-start: 7;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 5;
}

.work__item--14 {
    grid-column-start: 7;
    grid-column-end: 9;
    grid-row-start: 5;
    grid-row-end: 8;
}

.work__item--15 {
    grid-column-start: 7;
    grid-column-end: 9;
    grid-row-start: 8;
    grid-row-end: 12;
}

.work__item--16 {
    grid-column-start: 7;
    grid-column-end: 9;
    grid-row-start: 12;
    grid-row-end: 15;
}

.img__item {
    width: 100%;
    height: 100%;
    object-fit: cover;

    transition: .5s ease-in-out;
}

.img__item:hover {
    // object-fit: 22;
    // transform: scale(1.8) rotate(0.01deg);
    transform: scale(1.3);
}