<!-- Notification -->
<div class="block-other">
  <button class="notification">
    <div class="path">
      <svg class="notificationIcon">
        <use xlink:href="../../icons/sprite.svg#Notification"></use>
      </svg>
    </div>

    <div class="circle">
      <div class="number">9+</div>
    </div>
  </button>

  <div class="block-exit">
    <div class="admin">
      <span class="adminName">Gumshoed</span>
      <span class="adminStatus">Администратор</span>
    </div>

    <button class="exit__button">
      <div class="button__div">
        <svg class="exitIcon">
          <use xlink:href="../../icons/sprite.svg#Exit"></use>
        </svg>
      </div>
    </button>
  </div>
</div>
<!-- ./Notification -->
